<!DOCTYPE HTML>
<html>
    <head>
        <title>Influencer Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        {% if "success" in error %}
        <div class="alert alert-success" role="alert">
            {{ error }}
        </div>
        {% elif error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        {% if flag %}
        <div class="alert alert-danger" role="alert">
            You have been flagged, kindly make the below changes before your profile can be activated again.<br>
            Reason: {{ flag.reason }}
        </div>
        {% endif %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Welcome {{ influencer.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#Profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Ad_Requests">Ad Requests</a>
                </li>
                <li class="nav-item">
                    {% if flag %}
                    <a class="nav-link" disabled>Find Campaigns</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('search') }}">Find Campaigns</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
              </ul>
            </div>
        </nav>

        <!-- Profile Page -->
        <div id="Profile">
            <h1>Welcome, {{ influencer.name }}</h1>
            <p>Category: {{ influencer.category }}</p>
            <p>Reach: {{ influencer.reach }}</p>
            <p>Email: {{ influencer.email }}</p>
            <p>Total Ad Requests Recieved: {{ ad_requests.total }}</p>
            <!-- Edit Profile modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                Edit Profile
            </button>
            
            <!-- Edit Profile Modal -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST" id="edit_profile">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="form_id" value="edit_profile">
                            <!-- Name input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="name" id="Full_Name" value="{{ influencer.name }}" class="form-control" maxlength="45" pattern="^[\w\-\s]+$"/>
                                <label class="form-label" for="Full_Name">Full Name</label>
                            </div>

                            <!-- Category input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <select id="category" name="category" class="form-control">
                                    <option value="{{ influencer.category }}" disabled select>{{ influencer.category }}</option>
                                    <option value="Beauty">Beauty</option>
                                    <option value="Fashion">Fashion</option>
                                    <option value="Fitness">Fitness</option>
                                    <option value="Health">Health</option>
                                    <option value="Travel">Travel</option>
                                    <option value="Food">Food</option>
                                    <option value="Lifestyle">Lifestyle</option>
                                    <option value="Gaming">Gaming</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Photography">Photography</option>
                                    <option value="Music">Music</option>
                                    <option value="Parenting">Parenting</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Education">Education</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Art">Art</option>
                                    <option value="Home-Decor">Home Decor</option>
                                    <option value="Pets">Pets</option>
                                    <option value="Automotive">Automotive</option>
                                    <option value="Books">Books</option>
                                    <option value="DIY">DIY</option>
                                    <option value="Environment">Environment</option>
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Business">Business</option>
                                    <option value="Spirituality">Spirituality</option>
                                    <option value="Dating">Dating</option>
                                    <option value="Career">Career</option>
                                    <option value="Event-Planning">Event Planning</option>
                                    <option value="Gaming-Cosplay">Gaming Cosplay</option>
                                    <option value="Luxury">Luxury</option>
                                    <option value="Outdoors">Outdoors</option>
                                    <option value="Wellness">Wellness</option>
                                    <option value="Mental-Health">Mental Health</option>
                                    <option value="Non-Profit">Non-Profit</option>
                                    <option value="Comedy">Comedy</option>
                                    <option value="News">News</option>
                                    <option value="Personal-Development">Personal Development</option>
                                    <option value="Relationship">Relationship</option>
                                    <option value="Social-Justice">Social Justice</option>
                                    <option value="Sustainable-Living">Sustainable Living</option>
                                    <option value="Tech-Gadgets">Tech Gadgets</option>
                                    <option value="Videography">Videography</option>
                                    <option value="Yoga">Yoga</option>
                                    <option value="Crypto">Crypto</option>
                                    <option value="Investment">Investment</option>
                                    <option value="Real-Estate">Real Estate</option>
                                </select>
                                <label class="form-label" for="category">Category</label>
                            </div>

                            <!-- Reach input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="number" id="Reach" name="reach" value="{{ influencer.reach }}" class="form-control"/>
                                <label class="form-label" for="Reach">Reach</label>
                            </div>
                        
                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="Pass" name="pass" class="form-control" minlength="8" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,}$"/>
                                <label class="form-label" for="Pass">Change Password</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>

        {% if not flag %}
        <!-- Ad Requests Page -->
        <div id="Ad_Requests">
            <h1>Ad Requests</h1>
            {% if ad_requests.items | length == 0 %}
                <p>No Ad Requests recieved yet.</p>
            {% endif %}
            {% for ad_request in ad_requests.items %}
            <br>
                <div class="card">
                    <div class="card-header">
                        {{ ad_request.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">Messages: {{ ad_request.messages }}</p>
                        <p class="card-text">Requirements: {{ ad_request.requirements }}</p>
                        <p class="card-text">Payment Amount: {{ ad_request.payment_amount }}</p>
                        {% if not ad_request.negotiate %}
                            <!-- Revert Ad Request Button -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#revertAd{{ ad_request.id }}">
                                Revert
                            </button>
                            <!-- Negotiate Ad Request Button -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#negotiateAd{{ ad_request.id }}">
                                Negotiate
                            </button>
                            <!-- Revert Ad Request Modal -->
                            <div class="modal fade" id="revertAd{{ ad_request.id }}" tabindex="-1" role="dialog" aria-labelledby="revertAd" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form method="POST" id="revert_ad">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="revertAd">Revert to Ad Request</h5>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="form_id" value="revert_ad">
                                            <input type="hidden" name="id" value="{{ ad_request.id }}">
                                            <label class="form-label">Would you like to Accept or Reject?</label>
                                            <label class="form-label">Ad Request for Campaign {{ ad_request.name }}</label>
                                            <label class="form-label">Messages: {{ ad_request.messages }}</label>
                                            <label class="form-label">Requirements: {{ ad_request.requirements }}</label>
                                            <label class="form-label">Payment Amount: {{ ad_request.payment_amount }}</label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" name="status" value="Accept" class="btn btn-primary">Accept</button>
                                            <button type="submit" name="status" value="Reject" class="btn btn-primary">Reject</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <!-- Negotiate Ad Request Modal -->
                            <div class="modal fade" id="negotiateAd{{ ad_request.id }}" tabindex="-1" role="dialog" aria-labelledby="negotiateAd" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form method="POST" id="negotiate_ad">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="negotiateAd">Negotiate Ad Request</h5>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="form_id" value="negotiate_ad">
                                            <input type="hidden" name="id" value="{{ ad_request.id }}">
                                            <label class="form-label">Ad Request for Campaign {{ ad_request.name }}</label>
                                            <label class="form-label">Messages: {{ ad_request.messages }}</label>
                                            <label class="form-label">Requirements: {{ ad_request.requirements }}</label>
                                            <input type="number" id="Payment_Amount" name="payment_amount" value="{{ ad_request.payment_amount }}" class="form-control" required>
                                            <label class="form-label">Payment Amount</label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" name="status" class="btn btn-primary">Send Request</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        {% elif status == "Pending" %}
                            <p>Status: {{ ad_request.status }}</p>
                        {% else %}
                            <p>Status: {{ ad_request.status }}ed</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <!-- Navigation section for pagination controls -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <!-- Check if there is a previous page -->
                    {% if ad_requests.has_prev %}
                    <li class="page-item">
                        <!-- If there is, create a link to the previous page -->
                        <a class="page-link" href="/influencer?page={{ ad_requests.prev_num }}">Previous</a>
                    </li>
                    {% else %}
                    <!-- If not, show a disabled 'Previous' button -->
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    <!-- Loop through each page number provided by pagination.iter_pages() -->
                    {% for page_num in ad_requests.iter_pages() %}
                    <!-- Check if the page number exists (not None) -->
                    {% if page_num %}
                    <!-- Check if the current page is not the active page -->
                    {% if page_num != ad_requests.page %}
                    <!-- Create a clickable link for the page number -->
                    <li class="page-item"><a class="page-link" href="/influencer?page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                    <!-- Highlight the current page as active and not clickable -->
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_num }}</span>
                    </li>
                    {% endif %}
                    {% else %}
                    <!-- For gaps in the pagination links, show ellipsis -->
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                    {% endfor %}

                    <!-- Check if there is a next page -->
                    {% if ad_requests.has_next %}
                    <li class="page-item">
                        <!-- If there is, create a link to the next page -->
                        <a class="page-link" href="/influencer?page={{ ad_requests.next_num }}">Next</a>
                    </li>
                    {% else %}
                    <!-- If not, show a disabled 'Next' button -->
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>